.onboarding {
  min-height: 100vh;
  font-weight: 300;
  background: linear-gradient(302deg, #060f2c, #1E50A8);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

